<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-11-14T03:23:19Z</date>
	<key>WorkspacePath</key>
	<string>/Users/linjianguo/Desktop/View的遮罩效果/View的遮罩效果.xcodeproj</string>
</dict>
</plist>
